<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloremque animi perferendis libero laborum quae placeat, facere eligendi in ut odit facilis. Veniam minus, omnis soluta est facilis eaque quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloremque animi perferendis libero laborum quae placeat, facere eligendi in ut odit facilis. Veniam minus, omnis soluta est facilis eaque quas.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita doloremque animi perferendis libero laborum quae placeat, facere eligendi in ut odit facilis. Veniam minus, omnis soluta est facilis eaque quas.</p>
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>